.box{
    background: url(../images/back.jpg);
    background-size: cover;
    height: 100vh;
}

.top{
    height: 280px;
    background-color: rgba(185, 28, 28, 0.15);
    display: flex;
}

.logo{
    padding-top: 30px;
    padding-left: 30px;
}

.title{
    font-size: 58px;
    color: white;
    padding-left: 100px;
    padding-top: 180px;
    font-family: 'Domine';
}

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 215px;
    transform: translateY(-50%);
    width: 320px;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #fff;
}

.text {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 35px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -45px;
    left: 5%;
    text-decoration: none;
    text-transform: uppercase;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }

    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 5px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}
