.top{
    height: 400px;
    background-color: #984545;
    display: flex;
}

.logo{
    padding-top: 100px;
    padding-left: 30px;
}

.title{
    color: white;
    font-size: 58px;
    padding-left: 205px;
    padding-top: 180px;
    font-weight: bold;
}

.bot{
    height: 300px;
    background-color: #984545;
    display: flex;
}

.fb{
    padding-top: 220px;
    padding-left: 695px;
}
.fb-img{
        -webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.fb-img:hover{
    -webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

.insta{
    padding-top: 220px;
    padding-left: 50px;
}
.insta-img{
        -webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.insta-img:hover{
    -webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

.tw{
    padding-top: 220px;
    padding-left: 50px;
}
.tw-img{
    -webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.tw-img:hover{
    -webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

.button{
    background-color: #E0E0E0;
    border: 1.5px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 45px;
    margin-left: 42%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    padding: 2px 30px; 
    margin-top: 50px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.button:hover{
    background-color: #D65757;
    color: white;
    -webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.numero{
    background-color: #D65757;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Domine';
}

.question{
    background-color: #D65757;
    color: white;
    font-size: 25px;
    padding-top: 17.5px;
    padding-bottom: 8.5px;
    padding-right: 30px;
    -webkit-transition: .3s;
	transition: .3s;
}
.question:hover{
    padding-right: 100px;
}

.parentdiv{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    box-shadow: rgba(0, 0, 0, 0.6 ) 5px 5px 18px;
    font-size: 25px;
    height: 80px;
    width: 580px;
    text-align: center;
    position: relative;
    margin-top: 20px;
    padding-top: 60px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #E0E0E0;
}

.box-click{
    height: 40px;
    width: 40px;
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
}

.red{
    height: 142px;
    width: 100px;
    background-color: #D65757;
    position: absolute;
    top: -1px;
    left: -94px;
    box-shadow: rgba(0, 0, 0, 0.6 )0px 4px 18px;
}
.red:hover{
    background-color: #984545;
}

.center{
    background-color: #F3F3F3;
    padding-top: 40px;
}