.top{
    height: 400px;
    background-color: #984545;
    display: flex;
}

.logo{
    padding-top: 100px;
    padding-left: 30px;
}

.title{
    color: white;
    font-size: 58px;
    padding-left: 355px;
    padding-top: 180px;
    font-weight: bold;
}

.bot{
    height: 200px;
    background-color: #984545;
    padding-top: 40px;
}

.box{
    background-color: #E0E0E0;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 500px;
}
.score:hover{
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.score{
    height: 300px;
    width: 700px;
    background-color: #BF7373;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.6 ) 5px 5px 18px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.txt-score{
    font-size: 50px;
    color: white;
    padding-top:40px; 
}

.txt-pourcent{
    font-size: 50px;
    color: white;
    padding-top:40px; 
}

.fichier{
    font-size: 30px;
    color:#984545;
    padding-top:40px; 
    font-style: italic;
}

.link{
    text-decoration: none;
    color: black;
}

.button{
    background-color: #E0E0E0;
    border: 1.5px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 42%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    padding: 8px 8px; 
    margin-top: 40px;
    text-align: center;
    width: 350px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.button:hover{
    background-color: white;
    -webkit-transform: scale(0.9);
	transform: scale(0.9);
}
